.quarto-title-block .quarto-title-banner {
  background-image: url(https://raw.githubusercontent.com/epfl-exts/exts-quarto-assets/main/logos/Extension-school-logo-2023-negatif-red.png);
  background-size: 200px;
  background-position: 95% 50%; /* Adjust the percentage values as needed */
  background-repeat: no-repeat;
  padding-right: 50px;
  background-origin: content-box;
}
